<form>
  <label>Nome:</label>
  <input type="text" name="nome" [(ngModel)]="usuario.nome" />

  <label>Email:</label>
  <input type="email" name="email" [(ngModel)]="usuario.email" />

  <div>
    <button (click)="salvar()">Salvar</button>
  </div>
</form>
