<table border="1">
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let usuario of usuarios">
    <td>{{usuario.nome}}</td>
    <td>{{usuario.email}}</td>
  </tr>
</table>
<button routerLink="add">Add</button>
