<table border="1">
  <tr>
    <th>Id</th>
    <th>Sigla</th>
    <th>Nome</th>
  </tr>
  <tr *ngFor="let estado of estados">
    <td>{{estado.id}}</td>
    <td>{{estado.sigla}}</td>
    <td>{{estado.nome}}</td>
  </tr>
</table>
